---
import Layout from "../layouts/Layout.astro";
import Todo from "../components/Todo.astro";
import InProgress from "../components/InProgress.astro";
import Done from "../components/Done.astro";
import ModalAddTask from "../components/ModalAddTask.astro";
import Header from "../components/Header.astro";
---

<!-- Don't Layout component -->
<Layout title="CICC bord">
  <Header />
  <main class="main">
    <h1>CICC bord</h1>
    <div class="main_bords">
      <Todo />
      <InProgress />
      <Done />
    </div>
  </main>
  <ModalAddTask />
</Layout>

<style>
  .main {
    padding: 0 40px;
  }
  .main_bords {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
</style>
