---
import Layout from "../layouts/Layout.astro";
import Todo from "../components/Todo.astro";
import InProgress from "../components/InProgress.astro";
import Done from "../components/Done.astro";
import Header from "../components/Header.astro";
---

<!-- Don't Layout component -->
<Layout title="CICC bord">
  <Header />
  <h1>CICC bord</h1>
  <div class="bords">
    <!-- <Todo />
    <InProgress /> -->
    <Done />
  </div>
</Layout>

<script></script>

<style>
  .bords {
    display: flex;
    gap: 1rem;
  }
</style>
