---
import Layout from "../layouts/Layout.astro";
import Todo from "../components/Todo.astro";
import InProgress from "../components/InProgress.astro";
import Done from "../components/Done.astro";
import Header from "../components/Header.astro";
import { Icon } from "astro-icon/components";
---

<!-- Don't Layout component -->
<Layout title="CICC bord">
  <Header />
  <h1>CICC bord</h1>
  <div class="bords">
    <Todo />
    <InProgress />
    <Done />
  </div>
  <div class="modal-add-task">
    <div class="modal-add-task_header">
      <h2>Add Task</h2>
      <button id="modal-add-task_header_close-modal">
        <Icon name="close" />
      </button>
    </div>
    <form class="modal-add-task_form" id="submit-task-form">
      <div class="modal-add-task_form_container">
        <label class="modal-add-task_form_container_lable">Title</label>
        <input
          class="modal-add-task_form_container_widget"
          required
          name="title"
        />
      </div>
      <div class="modal-add-task_form_container">
        <label class="modal-add-task_form_container_lable">Category</label>
        <select
          required
          class="modal-add-task_form_container_widget"
          name="category"
        >
          <option selected disabled></option>
          <option>DESIGN_SYSTEM</option>
          <option>FRONTEND</option>
          <option>BACKEND</option>
          <option>DEVOPS</option>
          <option>OTHER</option>
        </select>
      </div>
      <div class="modal-add-task_form_container">
        <label class="modal-add-task_form_container_lable">Description</label>
        <textarea
          class="modal-add-task_form_container_description"
          required
          name="description"></textarea>
      </div>
      <div class="modal-add-task_form_container">
        <label class="modal-add-task_form_container_lable">Status</label>
        <select
          required
          class="modal-add-task_form_container_widget"
          name="status"
        >
          <option selected disabled></option>
          <option>todo</option>
          <option>in-progress</option>
          <option>done</option>
        </select>
      </div>
      <div class="modal-add-task_form_assignee">
        <div>Assignee</div>
        <div class="modal-add-task_form_assignee_form-control">
          <label class="modal-add-task_form_container_lable">FirstName</label>
          <input
            class="modal-add-task_form_container_widget"
            required
            name="firstName"
          />
        </div>
        <div class="modal-add-task_form_assignee_form-control">
          <label class="modal-add-task_form_container_lable">LastName</label>
          <input
            class="modal-add-task_form_container_widget"
            required
            name="lastName"
          />
        </div>
      </div>
      <button type="submit">Add Task</button>
    </form>
  </div>
</Layout>

<script>
  import { v4 as uuidv4 } from "uuid";
  import { type Task, tasks } from "../tasks";

  const modal = document.querySelector(".modal-add-task") as HTMLElement;
  document
    .getElementById("modal-add-task_header_close-modal")
    ?.addEventListener("click", () => {
      modal.style.display = "none";
    });

  const submitTaskForm = document.getElementById(
    "submit-task-form",
  ) as HTMLFormElement;
  submitTaskForm?.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(submitTaskForm);
    const task = {
      id: uuidv4(),
      title: String(formData.get("title")),
      category: String(formData.get("category")) as Task["category"],
      description: String(formData.get("description")),
      status: String(formData.get("status")) as Task["status"],
      assignee: {
        id: uuidv4(),
        firstName: String(formData.get("firstName")),
        lastName: String(formData.get("lastName")),
      },
    };
    tasks.set([...tasks.value, task]);

    modal.style.display = "none";
  });
</script>

<style>
  .bords {
    display: flex;
    gap: 1rem;
  }
  .modal-add-task {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .modal-add-task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-add-task_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .modal-add-task_form_container {
    display: flex;
    gap: 8px;
  }
  .modal-add-task_form_container_lable {
    width: 200px;
  }
  .modal-add-task_form_container_description {
    height: 300px;
    width: 100%;
  }
  .modal-add-task_form_assignee {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .modal-add-task_form_assignee_form-control {
    display: flex;
    gap: 8px;
  }
  .modal-add-task_form_container_widget {
    width: 100%;
  }
  .modal-add-task_form_container_widget {
    width: 100%;
  }
</style>
