<header class="header">
  <div class="left-section">
    <img src="/images/header/search.png" alt="Buscar" class="search-icon"/>
    <input type="text" placeholder="Search" class="search-bar" oninput="handleSearch(event)">
    <ul class="autocomplete-list"></ul>
  </div>
  <div class="right-section">
    <button class="icon-button" id="notification-button">
      <img src="/images/header/bell.png" alt="about" class="icon" id="notification-icon"/>
    </button>
    <div id="notification-message" style="display: none; position: absolute; background-color: #ffffff; border-radius: 5px; top: 10vh; right: 0vw ; border:#888 1px solid; font-size:20px; max-height: 20vh; overflow-y: auto;" >
      <div id="task-list"></div>
    </div>
    <button class="icon-button">
      <img src="/images/header/faq.png" alt="About" class="icon"/>
    </button>
    <div class="profile-pic">
      <img src="/images/header/profile.jpg" alt="Usuario" class="profile-img"/>
    </div>
  </div>
  <div class="modal" id="task-modal" style="display: none;">
    <div class="modal-content">
      <span class="close" id="close-modal">&times;</span>
      <h2 id="modal-title"></h2>
      <p id="modal-category"></p>
      <p id="modal-description"></p>
      <p id="modal-assignee"></p>
      <img id="modal-image" class="modal-image" src="" alt="Task Image" style="display: none;" />
    </div>
  </div>
</header>

  <style>
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-bar {
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  border: 1px solid #ccc;
  outline: none;
  width: 60vw; 
  max-width: 50rem; 
}

.search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autocomplete-list {
  position: absolute;
  top: 6.5vh; 
  left: 4rem;
  background-color: white;
  max-height: 20vh; 
  overflow-y: auto;
  list-style: none; 
  padding: 0;
  margin: 0.5rem 0 0;
  width: 54vw;
  z-index: 1000;
  border-radius: 0.25rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.autocomplete-list li {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #e0f7fa;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 20vh auto;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 90vw;
  max-width: 75rem;
  font-size: 1.5rem;
}

.modal-content h2,
.modal-content p {
  margin-left: 2.5rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  position: absolute;
  top: 50%; 
  right: 10rem;
  transform: translateY(-50%); 
  width: 20vw;
  height: 20vw;
  border-radius: 0.5rem;
}

@media (max-width: 1024px) {
  .search-bar {
    width: 70vw;
    max-width: 35rem;
  }

  .modal-content {
    width: 80vw;
  }

  .modal-image {
    width: 20vw;
    height: auto;
    margin-top: 0vw;
    right:4.5rem;
  }
  
  .modal-content h2,p{
    font-size: 1rem;
  }

  .autocomplete-list{
    top: 6.5vh;
    left: 4rem;
width: 70vw;
  }
}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .search-bar {
    width: 80vw;
  }

  .modal-content {
    width: 70vw;
    left: -5vw;
  }

  .modal-image {
    width: 15vw;
    height: auto;
    margin-top: 0vw;
    right: 3.5rem;
  }

  .modal-content h2,p{
    font-size: 0.6rem;
    margin-left: 1rem;
  }

  .modal-content p{
    margin-left: 1rem;
  }
  .autocomplete-list{
    width: 83vw;
    left: 3rem;
    top:6vh
  }

  .right-section{
    margin-top: 1vh;
    margin-left: 30vw;
    gap:2rem
  }

  #notification-message{
    margin-top: 5vh;
    left: 8rem;
    width: 22vw;
    z-index: 1000;
  }

}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .search-bar {
    width: 90vw;
  }

  .modal-content {
    width: 85vw;
    left: -2.5vw;
  }

  .modal-image {
    width: 12vw;
    height: auto;
    margin-top: 1vw;
    right: 2rem;
  }

  .modal-content h2, p {
    font-size: 0.5rem;
    margin-left: 0.5rem;
  }

  .autocomplete-list {
    width: 90vw;
    left: 1rem;
    top: 5vh;
  }

  .right-section {
    margin-top: 2vh;
    margin-left: 20vw;
    gap: 1.5rem;
  }
}
  </style>

<script type="module" src="/src/utils/filteredTask.ts"></script>