<header class="header">
  <div class="left-section">
    <img src="/images/header/search.png" alt="Buscar" class="search-icon"/>
    <input type="text" placeholder="Search" class="search-bar" oninput="handleSearch(event)">
    <ul class="autocomplete-list"></ul>
  </div>
  <div class="right-section">
    <button class="icon-button">
      <img src="/images/header/bell.png" alt="about" class="icon"/>
    </button>
    <button class="icon-button">
      <img src="/images/header/faq.png" alt="About" class="icon"/>
    </button>
    <div class="profile-pic">
      <img src="/images/header/profile.jpg" alt="Usuario" class="profile-img"/>
    </div>
  </div>
  <div class="modal" id="task-modal" style="display: none;">
    <div class="modal-content">
      <span class="close" id="close-modal">&times;</span>
      <h2 id="modal-title"></h2>
      <p id="modal-category"></p>
      <p id="modal-description"></p>
      <p id="modal-assignee"></p>
      <img id="modal-image" class="modal-image" src="" alt="Task Image" style="display: none;" />
    </div>
  </div>
</header>

  <style>
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #f8f8f8;
      border-bottom: 1px solid #e0e0e0;
    }
  
    .left-section {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  
    .search-bar {
      padding: 8px 12px;
      border-radius: 20px;
      border: 1px solid #ccc;
      outline: none;
      width: 800px;
    }
  
    .search-icon {
      width: 20px;
      height: 20px;
    }
  
    .right-section {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .icon-button {
      background: none;
      border: none;
      cursor: pointer;
    }
  
    .icon {
      width: 24px;
      height: 24px;
    }
  
    .profile-pic {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
    }
  
    .profile-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autocomplete-list {
  position: absolute;
  top: 7.5%; 
  left:50px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  width: calc(100% - 700px);
  z-index: 1000; 
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.autocomplete-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #e0f7fa; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 24px;;
}

.modal-content h2,p{
  margin-left:50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  width: 300px;
  height: 300px;
  margin-top: -250px;
  border-radius: 8px;
  margin-left:750px;
}

@media (max-width: 1360px) {
.header {
  width: 1360px;
}
      
      .search-bar {
        padding: 6px 10px; 
      }

      .search-icon {
        width: 24px;
        height: 24px;
      }

      .icon {
        width: 30px;
        height: 30px;
      }

      .profile-pic {
        width: 45px; 
        height: 45px;
      }

      .autocomplete-list {
    left: 50px;
    width: 820px;
  }

  .modal-image {
    width: 250px;
    height: 250px;
    margin-top: -220px;
    margin-left: 750px;
  }

  .modal-content h2,p{
    font-size: 24px;
  }
    }


    @media (max-width: 768px) {
      .header {
        width: 850px;
      }
      
      .search-bar {
        width: 580px;
        padding: 6px 10px; 
      }

      .search-icon {
        width: 24px;
        height: 24px;
      }

      .icon {
        width: 30px;
        height: 30px;
      }

      .profile-pic {
        width: 45px; 
        height: 45px;
      }

      .autocomplete-list {
    width: calc(100% - 30px); 
    left: 50px;
    width: 600px;
  }

  .modal-image {
    width: 180px;
    height: 180px;
    margin-top: -180px;
    margin-left: 530px;
  }

  .modal-content h2,p{
    font-size: 20px;
  }
    }

    @media (max-width: 480px) {
      .header {
        width: 1000px;
      }
      .search-bar {
        width: 600px; 
        padding: 4px 8px;
        font-size: 14px; 
      }

      .search-icon {
        width: 20px; 
        height: 20px;
      }

      .icon {
        width: 28px;
        height: 28px;
      }

      .profile-pic {
        width: 40px;
        height: 40px;
      }

      .autocomplete-list {
    width: calc(100% - 30px); 
    left: 50px;
    width: 600px;
  }

  .modal-image {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 570px;
  }

  .modal-content h2,p{
    font-size: 20px;
  }
    }

  </style>

<script type="module" src="/src/utils/filteredTask.ts"></script>